@font-face {
    font-family: Montserat;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/montserrat-regular.woff2), url(../fonts/montserrat-regular.woff);
}

@font-face {
    font-family: Montserat;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/montserrat-600.woff2), url(../fonts/montserrat-600.woff);
}